:root{
    --yellow-color: #FFB30E;
    
    --yellow-color: #FDBE35;
    
   }




*,
*::after,
*::before {
  box-sizing: border-box;}


  body {
    margin: 0 ;
    font-family: "Poppins", sans-serif;
  }
  /*#main1{width:100%; height:auto; }*/
.container p{
    float: left
    
}

.look{
text-align: center;
}
.navbar-brand{
    
    font-family: Qwigley;!important
font-size: 150px;
font-weight: 400;
line-height: 150px;
letter-spacing: 0em;
text-align: left;


}
.meals h2{
   font-family:Qwigley;!important ;
color:white;



}

.ggg{
    color:#FFB30E
}
.card-body{
    
    color:#c29433;!importart
}






section{
    width: 100%;
    height: 100vh;
    font-weight: 400;
    
    display: flex;
    

}

#home{
background-color: #FFB30E;
}
#home .input-group{
    width:40% ;
    height: 45px;
}
.findfood{
    background-color: red;!important
}

#section4{
width: 100%;
height: 100vh;
font-weight: 400;

display: flex;
margin-top:auto;}
.innersection4{
    float: left;
}


width: Fixed (407px)
height: Hug (60px)
top: 3028px
left: 276px
padding: 21px 48px 21px 48px
border-radius: 8px
gap: 10px


.inner-image{
    
height: 512px
top: 2670px
left: 739px
border-radius: 20px

}


.figure{
  width: 550px;
  height: 80%;
  margin-top: 75px;
  margin-right:10px;
}
.btn-lg{
width: Fixed (283.4px)
height: Hug (60px)
top: 3757px
left: 225px
padding: 21px px 21px 48px
border-radius: 8px
gap: 10px
}
#work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));!important
}

#foodlist{
    max-width: 100%;
    height:vp;
    padding: 800px;!important
}

#items{

 display: flex; !important

    
    width: 50%;
}
#foodlist  img{
  
   width: 350.79315185546875px;!important
height: 283px
top: 3994px
left: 1423px
border-radius: 10px

}




#foodlist2{
    padding: 800px 48px ;!important
    margin: auto;

}
.item-2{
    display: flex;!important
}

#footer{
    width: 100%;
    height: vp;
    background-color:black;
}




.footer2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1200px,auto)); !important
flex-gap:10px;
}

#footer{
    background-color:black;!important
   
 
   padding:200px 25px;
    
}
.container-fluid{
    max-width: 1170px;
    background-color:;
    margin: auto;
   
}
/*#footerrow{
    display: flex;
    flex-wrap:wrap;
}*/
.box-b{
    
}




.mailbox{
    color: beige;
}


.box-a{
   float: left;
   
}
.box-a ul li {
    list-style-type: none;
    text-decoration: none;
}
